*{
	margin: 0;
    padding: 0;
}
body{
	background-color: #232A38;
	font-family:"microsoft yahei";
}
.mui-bar{
	background-color:#2E3646;
}
.mui-icon{
	color: #838C9E ;
}
.mui-bar-nav {
	-webkit-box-shadow:0 1px 6px #000000;
	box-shadow: 0 1px 6px #000000;
}
.form-item{
	position:relative;
	padding: 1.7vw 5vw 0 5vw;
	background-color: #232A38;	
	margin: 0 auto;
}
.form-item input{
	width: 100%;
    height:11.73vw;
    line-height: 11.73vw;
    border: none;
    border-bottom: 1px solid  #2E3646;
    font-size: 16px;
	color:#FFF;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
	background-color: #232A38;
	padding-left:12vw;
	padding-top: 4vw;
}
.form-item img {
	position: absolute;
    width: 4.5vw;
    top: 45%;
    right: 10vw;
	overflow: auto;
}
.img{
	border: none;
}
.mui-title{
	color: #FFF;
	font-weight: 300;
}
.form-item .send-code {
    position: absolute;
    top: 30%;
    right: 7vw;
    height: 13.3vw;
    line-height: 6.8vw;
    font-size: 14px;
    color: #3b7db4;
    margin: 0;
}
input::-webkit-input-placeholder {
	color: #41464F;
	font-size: 16px;
	
}

.mui-btn-block{
	background-color: #303D4C;
    border: 1px solid #303D4C;
    width: 90vw;
    margin: 0 5vw;
    height: 11.73vw;
    line-height: 6.8vw;
    font-size: 16px;
    border-radius: 20px;
    margin-top: 5.33vw;
	font-weight: 300;
	color: #FFFFFF;
	padding:0;
}
.go-tips {
    margin-top: 34.93vw;
    text-align: center;
    font-size: 16px;
    color: #999999;
	margin-bottom: 8vw;
    width: 100vw;
	heigth:5.33vw;
}
.go-tips a{
	color:#3b7db4;
}

/*toast信息提示*/  
.mui-toast-container {bottom: 50% !important;}  
.mui-toast-message {background: url(/app/themes/default/images/toast.png) no-repeat center 10px #000; opacity: 0.6; color: #fff; width: 200px; padding: 10px 5px 10px 5px; font-size: 12px;}  

.user_cion{
	position: absolute;
	top: 33%;
	left: 7vw;
	height: 13.3vw;
	line-height: 6.8vw;
	font-size: 28px;
	color: #4F545F;
	margin: 0;
}
.login_logo{
	width: 100vw;
	text-align: center;
	margin-top:24vw;
}
.login_logo img{
	width: 29.3vw;
	height:29.3vw;
	border-radius: 90px;
}
.login_title{
	width: 100vw;
	height:6.64vw;
	text-align: center;
	margin-top:4.26vw;
	color:#FFF;
	text-align: center;
	font-size:18px;
	font-family:PingFang-SC-Medium;
	font-weight:300;
}
.go-forget{
	font-size: 16px;
	margin:0 5vw;
	margin-top: 3.2vw;
	width: 90vw;
	heigth:4.53vw;
	text-align: right;
	font-size: 12px;
}
.go-forget a {
	color:#41464F;
}
